#mainbox {
  width: 80%;
  height: 80vh;
  margin: 10vh auto;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#textbox {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#optionsbox {
  padding: 20px;
}

#optionsbox > div {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}

#optionsbox > div:hover {
  background-color: #f0f0f0;
}